<!-- #######  VABIDAE WEBPAGE. REALIZDO EN EL EDITOR HMTL-ONLINE.COM POR ANTONIO MATAS-TERRON EN JULIO DE 2019 #########-->
<h1 style="color: #5e9ca0;">VABIDAE versi&oacute;n 1 (2019)</h1>
<h1 style="color: #5e9ca0;">Cuestionario sobre Big Data en Educaci&oacute;n: escala de Valoraci&oacute;n del Big Data Aplicado a la Educaci&oacute;n</h1>
<p>&nbsp;</p>
<h2>Infomaci&oacute;n general</h2>
<p>Este cuestionario tiene como objetivo recoger informaci&oacute;n sobre qu&eacute; opini&oacute;n se tiene con relaci&oacute;n al Big Data en Educaci&oacute;n.&nbsp;</p>
<p>Este cuestionario fue dise&ntilde;ado y desarrollado como trabajo del <a href="https://www.uma.es/master-en-psicopedagogia/info/114265/master-psicopedagogia-inicio/" target="_blank" rel="noopener">M&aacute;ster de Psicopedag&iacute;a</a> de la <a href="https://www.uma.es/centers/subject/facultad-de-ciencias-de-la-educacion/5301/102767/" target="_blank" rel="noopener">Universidad de M&aacute;laga</a>, de la asignatura <a href="https://www.uma.es/centers/subject/facultad-de-ciencias-de-la-educacion/5301/102767/" target="_blank" rel="noopener">Avances en Investigaci&oacute;n para la Intervenci&oacute;n Educativa</a>.</p>
<p>Los autores del instrumento son:</p>
<ul>
<li>Borrego Linares, Mariano</li>
<li>Guarde&ntilde;o Arrebola, Cristina</li>
<li>Jim&eacute;nez Garc&iacute;a, Cristina</li>
<li>Montero &Aacute;vila, Raquel</li>
<li>Negro Mart&iacute;nez, Cristina</li>
<li>Matas-Terr&oacute;n, Antonio</li>
</ul>
<p>&nbsp;</p>
<h2>Normas sobre el uso del VABIDAE</h2>
<p>El cuestionario VABIDAE se rige por las siguientes normas:</p>
<ul>
<li>El cuestionario se licencia bajo <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="noopener">Creative Common 4.0</a>: debe reconocer la autor&iacute;a, no puede utilizarlo con inter&eacute;s econ&oacute;mico, es libre de compartir y adapatar.</li>
<li>Para utilizar la versi&oacute;n on-line debe ponerse en contacto con los <a href="mailto:amatas@uma.es">autores</a> para acordar cuando y c&oacute;mo recoger los datos.</li>
</ul>
<p>En cualquier caso se recomienda contactar con los autores antes de utilizar.</p>
<p>El cuestionario no admite respuestas. Recuerde contactar con los autores para habilitar el acceso:</p>
<ul>
<li>Direcci&oacute;n web del cuestionario&nbsp;<a href="https://forms.gle/8z2jqCenh1KJ6kTj7" target="_blank" rel="noopener">ENLACE</a></li>
<li>Contactar con los autores para habilitar el acceso <a href="mailto:amatas@uma.es">ENLACE</a>.</li>
</ul>



<h2>Estructura del VABIDAE</h2>
<p>El cuestionario VABIDAE es una escala aditiva que incluye tres subescalas: </p>
<ul>
<li>Subescala A. Qué aspectos positivos piensa que tiene esta tecnología.</li>
<li>Subescala B. Qué riesgos considera que puede tener esta tecnología.</li>
<li>Subescala C. Qué emociones asocia con esta tecnología.</li>
</ul>

<p>No obstante, las preguntas que incluye el cuestionario, pueden organizarse de la siguiente forma:</p>
<ul>
<li>Preguntas sobre la opinión del participante con relación a esta tecnología: aspectos positivos (subescala A) y aspectos negativos (subescala B)</li>
<li>Preguntas sobre el emociones que asocia con esta tecnología (subescala C): que incluye emociones positivas (e.g. esperanza); y emociones negativas (e.g. verguenza) </li>
</ul>

<p>El cuestionario incluye preguntas sociodemográficas, así como pregutas abiertas sobre la temática y un ítem sobre el grado en que el encuestado 
estaría dispuesto a utilizar la tecnología en su ámbito laboral</p>


<h2>Forma de administrar el cuestionario</h2>
<p>En la medida de lo posible, siga las siguientes instrucciones:</p>
<ul>
<li>Explique a los presentes que se solicita su colaboración voluntaria en un estudio sobre esta nueva tecnología. Haga 
especial hincapié en que la participación es voluntaria. Igualmente deje claro que es anónimo.</li>
<li>Explique que el cuestionario tiene 31 preguntas sobre las cuesiones que se indican en el punto "Estructura del VABIDAE".</li>
<li>Explique que el cuestionario incluye un vídeo inicial, por lo que se recomienda tener auriculares. Si el cuestionario se pasa en un aula
(salón de clase) se puede proyectar el vídeo a los asistentes con un videoproyector, evitando así que tengan que llevar auriculares.</li>
<li>A continuación pregunte si hay alguna duda, y trate de resolverlas en su caso.</li>
<li>Cuando se hayan resuelto todas las dudas, recuerde que es voluntario e indique que los datos se gestionarán según la legislación vigente.</li>
</ul>


<h2>El vídeo inicial</h2>
<p>El video contextualiza el tema y ofrece información común a todos los participantes. 
Esta estrategia se utiliza para reducir los malentendidos y errores sobre esta tecnología. 
Este vídeo fue seleccionado porque procede de un medio de comunicación oficial europeo (Euronews) y 
porque se centra específicamente en el concepto de esta tecnología en Educación.</p>
<p>El vídeo se encuentra disponible, a fecha de 2019, en el siguiente enlace: 
<a href="https://es.euronews.com/2015/05/22/big-data-al-servicio-de-la-educacion" target="_blank" rel="noopener">https://es.euronews.com/2015/05/22/big-data-al-servicio-de-la-educacion</a></p>


<p>&nbsp;</p>
<h2>C&oacute;mo citar</h2>
<p>Cite el cuestionario seg&uacute;n la siguiente nomenclatura:</p>
<p><strong>Estilo APA 6 edici&oacute;n:</strong>&nbsp;</p>
<p>Borrego, M., Guade&ntilde;o, C., Jim&eacute;nez, C., Montero, R., Negro, C., &amp; Matas-Terron, A. (2019, March). VABIDAE. Retrieved April, 2019, from https://vabidae.gitlab.io/vabidae/</p>
<p>&nbsp;</p>
<p><strong>Chicago 16:</strong></p>
<p>Borrego, Mariano, Cristina Guade&ntilde;o, Cristina Jim&eacute;nez, Raquel Montero, Cristina Negro, and Antonio Matas-Terron. "VABIDAE." VABIDAE. March 2019. Accessed April 2019. <a href="https://vabidae.gitlab.io/vabidae/.&nbsp;">https://vabidae.gitlab.io/vabidae/.&nbsp;</a></p>
<p>&nbsp;</p>
<p><strong>MLA 8:</strong></p>
<p>Borrego, Mariano, et al. &ldquo;VABIDAE.&rdquo;&nbsp;<em>VABIDAE</em>, Grupo IDEI HUM-1009, Mar. 2019, vabidae.gitlab.io/vabidae/. Accessed Apr. 2019.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr />
<p style="text-align: center;">P&aacute;gina bajo licencia <a href="https://opensource.org/licenses/mit-license.php" target="_blank" rel="noopener">MIT 2019</a></p>
<hr />
<p style="text-align: center;"><strong>&iexcl;Gracias por su inter&eacute;s!</strong></p>
<p><strong>&nbsp;</strong></p>

